[submodule "common/cpp/includes/json"]
	path = common/cpp/includes/json
	url = git@github.com:nlohmann/json.git
[submodule "common/cpp/includes/websocketpp"]
	path = common/cpp/includes/websocketpp
	url = git@github.com:zaphoyd/websocketpp.git
