# Compiled Object files
*.slo
*.lo
*.o
*.obj

*.cmake

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Scons
.sconsign.dblite
build

# NetBeans project files
nbproject
CMakeFiles
CMakeCache.txt
Makefile

#KDevelop project files
.cproject
.kdev4
.project
.settings
*.kdev4
*.kate-swp
