<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            <a href="stats"><i class="fa fa-chevron-left"></i></a> Machine Statistics - <%- machine.name %> (#<%- machine.id %>)
        </h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<!-- /.row -->
<div class="row">
    <div class="col-lg-6">
        <div class="daily-view"></div>
    </div>
    <div class="col-lg-6">
        <div class="per-connection-view"></div>
    </div>
</div>
<!-- /.row -->
