<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <i class="fa fa-bar-chart-o fa-fw"></i> Daily Traffic
        <span class="period-header">
            <!-- (<span class="period-text">Last <%- lastDays %> days</span>) -->
        </span>
        <div class="pull-right">
            <div class="btn-group btn-change-traffic-mode">
                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                    <span class="text">
                        <% if (trafficMode === "both") { %>
                            Incoming &amp; Outcoming
                        <% } else if (trafficMode === "in") { %>
                            Incoming
                        <% } else if (trafficMode === "out") { %>
                            Outcoming
                        <% } %>
                    </span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li>
                        <a href="#" data-traffic-mode="in">Incoming</a>
                    </li>
                    <li>
                        <a href="#" data-traffic-mode="out">Outcoming</a>
                    </li>
                    <li>
                        <a href="#" data-traffic-mode="both">Incoming &amp; Outcoming</a>
                    </li>
                </ul>
            </div>
            <div class="btn-group btn-change-period">
                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                    <span class="text">
                        <% if (period === "filter") { %>
                            Own period
                        <% } else { %>
                            Last <%- lastDays %> days
                        <% } %>
                    </span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li>
                        <a href="#" data-period="last3">Last 3 days</a>
                    </li>
                    <li>
                        <a href="#" data-period="last7">Last 7 days</a>
                    </li>
                    <li>
                        <a href="#" data-period="last30">Last 30 days</a>
                    </li>
                    <li>
                        <a href="#" data-period="last90">Last 3 months</a>
                    </li>
                    <!-- <li class="divider"></li>
                    <li>
                        <a href="#" data-period="filter">Own period</a>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div id="stats-chart-daily-traffic"></div>
    </div>
    <!-- /.panel-body -->
</div>
<!-- /.panel -->
