<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Dashboard</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<!-- /.row -->
<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-laptop fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge"><%- machines.length %></div>
                        <div><%- _.pluralize(machines.length, "Machine", "Machines") %></div>
                    </div>
                </div>
            </div>
            <a href="machines">
                <div class="panel-footer">
                    <span class="pull-left">View Machines</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        
    </div>
    <div class="col-lg-3 col-md-6">
        
    </div>
    <div class="col-lg-3 col-md-6">
        
    </div>
</div>
<!-- /.row -->
